body{
    background: #A4A4A4;
background: -moz-linear-gradient(-45deg, #A4A4A4 0%, #6FCB8C 50%, #4D7567 100%);
background: -webkit-linear-gradient(-45deg, #A4A4A4 0%, #6FCB8C 50%, #4D7567 100%);
background: linear-gradient(135deg, #A4A4A4 0%, #6FCB8C 50%, #4D7567 100%);
}

section{
    display: grid;
    grid-template-areas:
     ". . a a b"
     "c c d d b"
     "e e e e b";
     row-gap: 2rem;
     column-gap: 2rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}

div{
    background-color: #eee;
    border: 5px solid red;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 2rem;
}