body{
    background-color: antiquewhite;
    font-family: sans-serif;
}

div{
    background-color: white;
    max-width: 300px;
    margin: 100px auto;
    border-radius: 10px;
}

h1{
    color: blue;
    text-align: center;
    padding-top: 20px;
}
h2{
    font-size: 1rem;
    text-align: center;
    color: brown;
}
p{
    text-align: center;
    padding-bottom: 40px;
}